/*
Project Name: Relaxr Landing Page
Author: JP Horsfield
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
	-moz-box-sizing: border-box; /* Firexfox */
	-webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
	box-sizing: border-box; /* IE */
	/*border: 2px solid red;*/
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
	font-size: 100.01%;
}
body {
	font-family: 'Open Sans', arial, sans-serif;
	
}
h1 {
	font-family: 'Open Sans';
	font-weight: 800;
	font-size: 24px;
	color: rgba(255,255,255,1);	
}
header {
	background: url('../IMAGES/header_bg.jpg') no-repeat top center rgba(0,0,0,1);
	background-size: cover;
	margin: 0 auto;
	height: 700px;
	padding: 3rem 0 0 0;
}
section {
	width: 960px;
	margin: 0 auto;
}
button {
	border-radius: 5px;
  	font-weight: 800;
  	padding: 0.8rem 0;
  	width: 17rem;
  	font-size: 14px;
  	text-align: center;
  	display: block;
  	margin: 0 auto;
}
footer {
	margin: 0 auto;
	padding: 2rem 0 2rem 0;
	font-size: 9px;
	font-weight: 600;
	background-color: #121212;
	text-align: center;
}
/***************************************
/*Class styles for the header section
/***************************************/
.head_area h2 {
	text-align: center;
	margin: 9rem 0 7rem 0;
	font-weight: 600;
	color: rgba(255,255,255,1);
	font-size: 24px;
}
.get_it {
	background: #f9e42e;
  	color: #033048;
}
/***************************************
/*Class styles for the benefits section
/***************************************/
.benefit_article {
	background-color: #f0efef;	
}
.benefits {
	color: #033048;
	width: 960px;
	margin: 0 auto;
	height: 23rem;
}
.benefits h2 {
	font-size: 20px;
	font-weight: 600;
	padding: 5.7rem 0 3rem;
	color: #033048;
}
.benefits p, li {
	font-size: 13px;
	font-weight: 300;
	color: #606161;
}
.benefits ul {
	list-style: disc;
	margin: 2rem 0 0 2.5rem;
}
/***************************************
/*Class styles for the testimonial section
/***************************************/
.testimonial_article {
	background: url(../IMAGES/testimonial_bg.jpg) no-repeat top center rgba(0,0,0,1);
	background-size: cover;
	height: 12rem;
	color: #606161;
}
.testimonial {
	font-size: 18px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	padding: 3rem 0 3rem;
}
.testimonial h2 {
	font-weight: 300;
	padding-bottom: 2rem;
	font-style: italic;
}
.testimonial span {
	font-weight: 600;
}
/***************************************
/*Class styles for the sign up button
/***************************************/
.sign_up {
	background-color: #f9e42e;
	height: 6.5rem;
}
.sign_up section {
	padding: 1.8rem 0 1rem;
}
.sign_up button {
	font-size: 12px;
	font-weight: 800;
	padding: 1rem 0 1rem 0;
	background-color: #033048;
	color: rgba(255,255,255,1);
}
/***************************************
/*Class styles for the footer section
/***************************************/
.footer h2 {
	font-weight: 800;
	font-size: 24px;
	color: #f9e42e;
	margin: 0 auto;
}
.footer li {
	padding: 1.3rem 1.4rem 2rem 0.5rem;
	display: inline-block;
}
.footer p {
	color: #606161;
	font-size: 9px;
	font-weight: 600;
}
